/*******************************************************************************
 * general css
 */ 
 	body {
	 	font-family:arial;
	}
	a {
		text-decoration: none;
	}
	a img{
		border:none;
	}
	#typo3-logo img {
		height:22px;
		padding-right:20px;
	}
	#typo3-logo a#sabrelink {
		font-size: 10px;
		float:right;
	}
/*******************************************************************************
 * Authentication required css
 */ 
	body.authenticationRequired {
		background-color:#585858;
		width:430px;
		margin-left:auto;
		margin-right:auto;
		margin-top:200px;
	}
	
	body.authenticationRequired #typo3-top-container {
		background-color:#444444;
		color:white;
		padding:10px;
	}
	
	body.authenticationRequired #typo3-bottom-container {
		background-color:#F1F1F1;
		color:black;
		padding:10px;
	}
	
	body.authenticationRequired #typo3-container {
		border:3px solid #444444;
	}	
	
/*******************************************************************************
 * FileList css
 */
	body h4.path a, body h4.path{
		color: #666666;
		text-decoration: none;
	}
	body.typo3-file-list-php {
		margin-left:0;
		margin-right:0;
		margin-top:0;	
	}  
	body.typo3-file-list-php #typo3-top-container {
		background-color:#444444;
		color:white;
		padding:10px;
	}
	body.typo3-file-list-php #typo3-top-container a {
		color:white;
	}
	body.typo3-file-list-php {
		background-color:#F8F8F8;
	}
	body.typo3-file-list-php #typo3-inner-docbody {
		margin-left:auto;
		margin-right:auto;
		width:900px;
	}
	body.typo3-file-list-php table#typo3-filelist {
		border-collapse:collapse;
		width:100%;
		margin-bottom:40px;
	}
	body.typo3-file-list-php table#typo3-filelist td {
		border:1px solid silver;
	}
	body.typo3-file-list-php table#typo3-filelist td a {
		color:black;
	}
